@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('../../GenericColors.css');

.navbar-list > li > * {
    color: var(--Navbar-text-color);
    font-family: var(--text-font);
}

.navbar-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 5rem;
    background-color: var(--Navbar-background-color);
    box-shadow: 0px 2px 4px #5a5b6a3d, 0px 1px 2px #3a3a443d;
    justify-content: space-between;
}

.navbar-list-item-anchor {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-list-item-anchor:hover {
    text-decoration: underline;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navbar-list-item-button {
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--primary-button-color);
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in-out;
}

.navbar-list-item-button:hover {
    background-color: var(--secondary-button-color);
    cursor: pointer;
}

.navbar-list-item-image {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
