@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap%27');

:root
{
    --background-color: #ffffff;
    --primary-button-color: #2595e7;
    --secondary-button-color: #007cd6;
    --Navbar-background-color: #e1f5fe;
    --Navbar-text-color: #2b373f;
    --text-font: 'Quicksand', sans-serif;
    --primary-text-color: #000000;
    --generic-blue: #2595e7;
    --generic-red: #DC143C;
    --generic-green: #228B22;
    --generic-orange: #FF7F50;
    --generic-purple: #9400D3;
    --generic-pink: #FF1493;
    --generic-yellow: #FFD700;


}
