body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: blue;
}
a:visited {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: none;
  color: lightblue;
}
a:active {
  text-decoration: none;
  color: lightblue;
}
h1 {
  color: blue;
}
h2 {
  color: lightblue;
}
h3 {
  color: white;
}

stat-view {
  width: 200px;
  margin: 10px 15px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#stat-1{
  background-color: var(--generic-blue);
}
#stat-2{
  background-color: var(--generic-purple);
}
#stat-3{
  background-color: var(--generic-red);
}
#stat-4{
  background-color: var(--generic-orange);
}
#stat-5{
  background-color: var(--generic-yellow);
}
#stat-6{
  background-color: var(--generic-green);
}